/AmiralBattı/build/
/AmiralBattı/nbproject/private/
/orderApp/nbproject/private/
/OrderApp/nbproject/private/
/OrderApp/build/
/StockApplication/nbproject/private/
/StockApplication/build/
/JavaApplication131/nbproject/private/
/DownloadFoldarSimulation/nbproject/private/
/DownloadFoldarSimulation/build/
/JListExample/nbproject/private/
/JListExample/build/
/RegisterLoginExample/nbproject/private/
/RegisterLoginExample/build/
/FileChooserAndColorChooser/nbproject/private/
/FileChooserAndColorChooser/build/
/Menues/nbproject/private/
/Menues/build/
/Library/nbproject/private/
/Library/build/
/UsingGraphich/nbproject/private/
/UsingGraphich/build/
/SpaceGame/nbproject/private/
/SpaceGame/build/
/SpaceGame/dist/
/Snake game/nbproject/private/
/Snake game/build/
/Snake game/dist/
