/AmiralBattı/build/
/AmiralBattı/nbproject/private/
/orderApp/nbproject/private/
/OrderApp/nbproject/private/
/OrderApp/build/
/StockApplication/nbproject/private/
/StockApplication/build/
/JavaApplication131/nbproject/private/
/DownloadFoldarSimulation/nbproject/private/
/DownloadFoldarSimulation/build/
/JListExample/nbproject/private/
/JListExample/build/